@{
    ViewData["Title"] = "TimerTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TimerTest</h2>
<div>
    <input type="button" value="Start" onclick="AjaxTest()">
    <div id="results"></div>
</div>
<script type="text/javascript">
    function AjaxTest() {
        $.ajax({
            url: "http://localhost:49241/Home/TestAjax",
            success: function (html) {
                $("#results").append(html);
            }
        }); 


     }



</script>

