@{
    ViewData["Title"] = "TimerTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>TimerTest</h2>
<div>
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
</div>

