@{
    ViewData["Title"] = "About";
}
<input type="text" value="setTimer" id="comand">
<input type="text" value="30000" id="message">
<input type="button" onclick="send()">
<input type="button" onclick="send2()" value="AdminCheck">
    <div id="report"></div>
<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/ReportModel.js"></script>
<script src="~/js/AdminHub.js"></script>