@model LMS.Dto.TestTemplateDTO

@{
    ViewData["Title"] = "Edit";
}

<h4>Test template</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            @Html.Partial("FormFields", Model)
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
<br />