.details-header {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
}
/* Remove slider outline */
form input[type=range]:focus {
    box-shadow: none;
    outline: none;
    border: none;
}
