@using LMS.Dto
@using LMS.Entities
@model TestSessionResultsDTO

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Test session results</h4>
    <hr />
    <div class="col-md-6">
        <div >

        </div>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
