@using LMS.Dto
@using LMS.Entities
@model ExameneeResultDTO

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Examenee result</h4>
    <hr />
    <div class="col-md-6">

    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
