@model LMS.Dto.UserDTO;
@{
    ViewData["Title"] = "Register";
    var roles = ((IEnumerable<SelectListItem>)ViewData["AllRoles"]);
}

<div class="card card-register">
    <div class="card-header">Register an Account</div>
    <form asp-action="Register">
        @Html.Partial("FormFields", Model)
    </form>
</div>

<br />
<div>
    <a asp-action="List">Go to User List</a>
</div>
<br />
