@{
    ViewData["Title"] = "Register";
    var roles = ((IEnumerable<SelectListItem>)ViewData["AllRoles"]);
}
@model LMS.Admin.Web.ViewModels.RegisterViewModel



<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <form asp-action="Register">
                @Html.Partial("FormFields", Model)
            </form>
        </div>
    </div>
</body>