@model LMS.Dto.UserDTO;
@{
    ViewData["Title"] = "Account";
    ViewData["Action"] = "Register";
    ViewData["Icon"] = "fa-user-plus";
    var roles = ((IEnumerable<SelectListItem>)ViewData["AllRoles"]);
}

<div class="col-md-6">
    <form asp-action="Register">
        @Html.Partial("FormFields", Model)
    </form>
</div>

<br />
<div>
    <a asp-action="List">Go to User List</a>
</div>