@model LMS.Dto.CategoryDTO


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="Id" type="hidden" />

<div class="form-group">
    <label asp-for="Title" class="control-label"></label>
    <input asp-for="Title" class="form-control" type="text">
    <span asp-validation-for="Title" lass="text-danger"></span>
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default" />
</div>
