@model LMS.Dto.TaskAnswerDTO

@{
    ViewData["Title"] = "Create";
}

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            @Html.Partial("FormFields", Model)
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Back to List</a>
</div>
<br />

