@using LMS.Dto
@model TaskDTO

@{
    var types = ((IEnumerable<SelectListItem>)ViewData["AvailableTypes"]);
    var categories = ((IEnumerable<SelectListItem>)ViewData["AvailableCategories"]);
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input asp-for="Id" type="hidden" />
<div class="row">
    <div class="form-group col-12 col-md-6">
        <label asp-for="Complexity" class="control-label"></label>
        <input asp-for="Complexity" class="form-control form-control-range" type="range" min="@TaskDTO.MinComplexity" max="@TaskDTO.MaxComplexity" />
        <span asp-validation-for="Complexity" class="text-danger"></span>
    </div>
    <div class="form-group col-12 col-md-6">
        <label asp-for="TypeId" class="control-label"></label>
        <select onchange="optionCheck(this)" asp-for="TypeId" asp-items="@types" class="form-control custom-select"></select>
        <span asp-validation-for="TypeId" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select asp-for="CategoryId" asp-items="@categories" class="form-control custom-select"></select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Content" class="control-label"></label>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>
<div id="OptionCount" class="form-group collapse">
    <label class="control-label">Options Count</label>
    <input type="number" min="0" class="form-control" onchange="displayTable(this)" />
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-default" />

</div>
<div id ="tableThead" class="table-responsive collapse">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Answer</th>
                <th>Label</th>
                <th>Text</th>
            </tr>
        </thead><tbody id="tableBody"></tbody>
    </table>
</div>

<div id="targetDIV">

</div>

<script>
    function optionCheck(select) {
        var selected = $(select).find("option:selected").text();
        if (selected == "question with options") {
            $('#OptionCount').collapse('show');
            $('#tableThead').collapse('show');
        }
        else {
            $('#OptionCount').collapse('hide');
            $('#tableThead').collapse('hide');
        }
    }
    function displayTable(countinput) {
        var count = $(countinput).val();
        
        $("#tableBody").html("");
        for (var i = 0; i < count; i++) {
            $("<tr>").appendTo("#tableBody");
            $("<td><input type='radio' name='tableRB' id = '" + i + "'>").appendTo("#tableBody");
            $("<td><label>" + String.fromCharCode(97+i) + "</label>").appendTo("#tableBody");
            $("<td><textarea name='OptionAnswers[" + i + "].Content' type='text' class='form-control' required></textarea>").appendTo("#tableBody");
            $("</tr>").appendTo("#tableBody");
        }
    }
</script>


